@()

  @main("ErgoMixer - Privacy is a basic human right!") {
    <div>
        Currently only one ring is supported, with 1-Erg boxes and no-token fee emission boxes.
    </div>
    <div>
        Please note that for 1 Erg deposited 0.9985 will be received at withdrawal address (due to fee required
        for withdrawal transaction).
    </div>
    <div>
        Currently 30 mixes to be made, later this should be in the settings.
    </div>
    <div>
        Made by anon92048. No any rights reserved, use the code and the tool as you want.
    </div>
    <div>
        Privacy is a basic human right!
    </div>
  }
