@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="@routes.MixerController.index()">Index</a></li>
                <li><a href="@routes.MixerController.newMix()">New mix</a></li>
                <li><a href="@routes.MixerController.mixingStats()">Mixing statistics</a></li>
                <li><a href="@routes.MixerController.ringStats()">Ring Statistics</a></li>
            </ul>
        </div>
        <hr/>
        @content
    </body>
</html>
